:root {
    --body_background: #f8f8f8;
    --body_color: #333333;
    --link_color:navy

}
[data-theme="dark"] {
--body_background: #1e1e1e;
--body_color: #f8f8f8;
--link_color:navy

}




@tailwind base;
@tailwind components;
@tailwind utilities;